body {
  background-image: url("");
    background-color: #2b2b2b;
    margin:0;
  font-family: 'Noto Sans', sans-serif;
  color: white;

  }
  p {
    color: white;
    margin: 0px;
  }

  h2 {
    margin: 0px;
  }
  h1 {
    margin: 0px;
  }
  h3 {
    margin: 1%;
  }
    /*Nav Bar styling*/
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 80px;
 }
 .nav-items {
  display: flex;
 }
    
.nav-bar a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}
  
.nav-bar a:last-child {
  margin-right: 0px;
}
    
.nav-bar a div {
  padding: 15px 20px; 
}
  
.nav-bar a div:hover {
  border-radius: 0px;
  padding: 12.5px 20px;
  text-decoration: underline;
  text-decoration-color: #FAB408;
  text-decoration-thickness: 3px;
}
    
nav section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  align-items: center;
}
    
nav section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
    
nav section a:last-child {
  margin-right: 0px;
    
}
    
nav section a div {
  padding: 15px 40px;
  background-color: #f25c05;
}
nav section a div:hover {
  border-radius: 0px;
  background-color: #f25c05;
  border-bottom: 5px solid #ffffff; 
}
    
.nav-logo {
  position: absolute;
  left: 0%;
}

.nav-logo {
  position: absolute;
  left: 0%;
  padding-left: 10px;
  }
/*Index Content*/
/*About Us Stuff*/
.About-Us {
  border: none;
  background-image: url(../assets/imgs/SACRS-Home_Cnt.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: solid #FAB408;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ABUS-Box {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 2px solid #000;
  width: 70%;
  margin: 5% 0px 5% 0px;
}
.ABUS-Box-2 {
  display: flex;
  flex-direction: row;
}
.ABUS-Box-2 a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}
.ABUS-Box-2 a div {
  padding: 15px 40px;
  background-color: #FAB408;
  margin: 1rem;
  text-decoration: none;
}
.ABUS-H1 {
  padding-left: 10px;
  font-weight: bold;
}
.I-P1 {
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.img1-IND {
  border: none;
  border-bottom: solid #FAB408;
}
.img2-IND {
  border: none;
  right: 0%;
  position: absolute;
  width: 54%;
  display: flex;
  margin-top: 0%;
}
/*Our Values Stuff*/
.Our-Values {
  position: relative;
  border-bottom: solid #FAB408;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Our-Values p {
  padding-bottom: 1rem;
  font-size: 20px;
}
.OV-Box-1 {
  flex-direction: row;
}
.OV-H1 {
  padding-left: 10px;
  font-size: 28px;
  margin-bottom: 15px;
}

/*Our Team Stuff*/
.Our-Team-I {
  border: none;
  width: 60%;
}
.OT-H1-I {
  padding-left: 10px;
  font-size: 24px;
  margin-top: 15px;
}
.OT-H2-I {
  padding-left: 10px;
  font-size: 24px;
  margin-top: 15px;
}
.OT-H3-I {
  padding-left: 10px;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.OT-P1-I {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  top: 10px;
}
.OT-P2-I {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  top: 10px;
}
/*Request Us Page*/
.Request-Us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.Rq-Box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 20%;
  color: #000;
  border: 2px solid #000;
  margin-top: 40px;
  width: 50%;
}
.Rq-Box p {
  color: #000;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.Request-Us a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}
.Request-Us a div {
  padding: 15px 40px;
  background-color: #FAB408;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Request-Us a div:hover {
  text-decoration: 4px underline#000;
}
/*Construction*/
.Construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-image: url(../assets/imgs/Construction-Ls-1.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: solid #FAB408;
  padding: 10%;
}
.Con-H1 {
  color: #000000;
  font-weight: 900;
  font-size: 3rem;
  
}
.Con-Box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20%;
  color: #000;
  border: 2px solid #000;
  margin-top: 40px;
  padding: 1rem;
}
.Construction-2 {
  display: flex;
  background-color: #000;
}
.Con-Box-2 {
  display: flex;
  color: #000000;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 3rem;
}
/*Road Work*/
.Road-Work {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-image: url(../assets/imgs/Road-Work.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: solid #FAB408;
  padding: 10%;
}
.RW-H1 {
  color: #000000;
  font-weight: 900;
  font-size: 3rem;
  
}
.RW-Box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20%;
  color: #000;
  border: 2px solid #000;
  margin-top: 40px;
  padding: 1rem;
}
.Road-Work-2 {
  display: flex;
  background-color: #000;
}
.RW-Box-2 {
  display: flex;
  color: #000000;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 3rem;
  
}
/*Logistics*/
.Logistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-image: url(../assets/imgs/Logistics-1.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: solid #FAB408;
  padding: 10%;
}
.Log-H1 {
  color: #000000;
  font-weight: 900;
  font-size: 3rem;
  
}
.Log-Box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20%;
  color: #000;
  border: 2px solid #000;
  margin-top: 40px;
  padding: 1rem;
}
.Logistics-2 {
  display: flex;
  background-color: #000;
}
.Log-Box-2 {
  display: flex;
  color: #000000;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 3rem;
  
}
/*Our Team Page*/
.Our-Team {
  display: flex;
  align-items: center;
  justify-content: center;
}
.OT-B {
  color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: solid 5px #FAB408;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255,0.4);
  font-size: 22px;
}
.OT-B p {
  color: black;
  font-size: 22px;
}
.OT-B h3 {
  text-decoration: underline 2px black;
}
/*Licenses Page*/
.License {
  display: flex;
  align-items: center;
  justify-content: center;
}
.L-B {
  color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: solid 5px #FAB408;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255,0.4);
  font-size: 22px;
}
.L-H1 {
  text-decoration: underline solid 5px black;
  margin: 0.4%;
}
.L-B p {
  color: black;
  font-size: 22px;
  margin: 0.2%;
}
/*Footer Stuff*/
.Footer {
  background-color: #000;
  padding: 10px;
  color: white;
  border-top: solid #FAB408;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-decoration: white;
  align-items: center;
  justify-content: center;
  bottom: auto;
}
.FT-IMG-1 {
  display: flex;
  position: absolute;
  left: 0%;
  align-items: center;
  justify-content: center;
}
.Footer a {
  text-decoration: none;
}
.FT-Links{
  display: flex;
  flex-direction: row;
}
.FT-Links div {
  color: white;
  flex-direction: column;
}
.FT-G-Link1 {
  color: white;

}
.FT-G-Link2 {
  margin-left: 50px;
  color: white;
}
.Hamburger {
  display: none;
}

body {
  overflow-x: hidden;
}

/*Media Querys For Basic Nav*/
@media screen and (max-width: 750px) {
  .nav-items {
    display: none;
  }

  .Hamburger {
    display: flex;
  }

  .menuToggle {
    display: block;
    position: relative;
    top: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    a {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.3s ease;

      &:hover {
        color: tomato;
      }
    } 

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -22px;
      cursor: pointer;
      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }

    span {
      position: relative;
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      top: -15px;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  .menuToggle {
    input {
      &:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;

        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }
      }

      &:checked~.menuItem {
        transform: none;
      }

    }
  }

  .menuItem {
    position: absolute;
    padding: 50px;
    padding-top: 100px;
    height: 100vh;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
      padding: 30px 0;
      font-size: 22px;
    }
  }

  .menu--left {
    position: relative;
    width: 50%;

    .menuToggle {
      left: 0;

      input {
        left: 50px;
      }

      span {
        left: 50px;
      }
    }

    .menuItem {
      left: 50px;
      margin: -100px 0 0 -50px;
      transform: translate(-100%, 0);
    }
  }

  .menu--right {
    .menuToggle {
      position: fixed;
      right: 0;

      input {
        right: 50px;
      }

      span {
        right: 50px;
      }
    }

    .menuItem {
      right: 0;
      margin: -100px 0 0 0;
      transform: translate(100%, 0);

      li {
        a {
          &:hover {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .menu--bottom--right {
    .menuToggle {
      position: fixed;
      top: auto;
      bottom: 0;
      right: 0;
      z-index: 1;

      input {
        right: 50px;
        bottom: 50px;
        top: auto;

        &:checked~.menuItem {
          transform: scale(1);
          -webkit-transition: -webkit-transform .3s, visibility 0s 0s;
          -moz-transition: -moz-transform .3s, visibility 0s 0s;
          transition: transform .3s, visibility 0s 0s;

          li {
            &:nth-child(1) {
              -webkit-animation: text-slide-in .2s;
              -moz-animation: text-slide-in .2s;
              animation: text-slide-in .2s;
            }

            &:nth-child(2) {
              -webkit-animation: text-slide-in .3s;
              -moz-animation: text-slide-in .3s;
              animation: text-slide-in .3s;
            }

            &:nth-child(3) {
              -webkit-animation: text-slide-in .4s;
              -moz-animation: text-slide-in .4s;
              animation: text-slide-in .4s;
            }

            &:nth-child(4) {
              -webkit-animation: text-slide-in .5s;
              -moz-animation: text-slide-in .5s;
              animation: text-slide-in .5s;
            }

            &:nth-child(5) {
              -webkit-animation: text-slide-in .6s;
              -moz-animation: text-slide-in .6s;
              animation: text-slide-in .6s;
            }
          }
        }
      }

      span {
        right: 50px;
        bottom: 50px;
        top: auto;
      }
    }

    .menuItem {
      bottom: 0;
      right: 0;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 125px;
      transform-origin: bottom right;
      transform: scale(0);
      -webkit-transition: -webkit-transform .3s, visibility 0s 0s;
      -moz-transition: -moz-transform .3s, visibility 0s 0s;
      transition: transform .3s, visibility 0s 0s;

      li {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        a {
          &:hover {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .menu--bottom--left {
    .menuToggle {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      z-index: 1;

      input {
        left: 50px;
        bottom: 50px;
        top: auto;

        &:checked~.menuItem {
          transform: scale(1);

           -webkit-transition: -webkit-transform .3s,visibility 0s 0s;
           -moz-transition: -moz-transform .3s,visibility 0s 0s;
           transition: transform .3s,visibility 0s 0s;
          li {
            &:nth-child(1) {
              -webkit-animation: text-slide-in .2s;
              -moz-animation: text-slide-in .2s;
              animation: text-slide-in .2s;
            }

            &:nth-child(2) {
              -webkit-animation: text-slide-in .3s;
              -moz-animation: text-slide-in .3s;
              animation: text-slide-in .3s;
            }

            &:nth-child(3) {
              -webkit-animation: text-slide-in .4s;
              -moz-animation: text-slide-in .4s;
              animation: text-slide-in .4s;
            }

            &:nth-child(4) {
              -webkit-animation: text-slide-in .5s;
              -moz-animation: text-slide-in .5s;
              animation: text-slide-in .5s;
            }

            &:nth-child(5) {
              -webkit-animation: text-slide-in .6s;
              -moz-animation: text-slide-in .6s;
              animation: text-slide-in .6s;
            }
          }
        }
      }

      span {
        left: 50px;
        bottom: 50px;
        top: auto;
      }
    }

    .menuItem {
      bottom: 0;
      left: 0;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 125px;
      transform-origin: bottom left;
      transform: scale(0);
      -webkit-transition: -webkit-transform .3s, visibility 0s 0s;
      -moz-transition: -moz-transform .3s, visibility 0s 0s;
      transition: transform .3s, visibility 0s 0s;

      li {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        a {
          &:hover {
            padding-left: 5px;
          }
        }
      }
    }
  }

  @keyframes text-slide-in {
    0% {
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px)
    }

    100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0)
    }
  }
}
@media screen and (max-width: 750px) {
  /*Index Page*/
  .ABUS-Box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img2-IND {
    display: none;
  }
  .Our-Values {
    margin-left: 20%;
  }
  .Our-Team-I {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
  }
  .Our-Team-I p {
    display: flex;
  }
  .Our-Team-I h1 {
    display: flex;
    text-align: center;
  }
  /*Request US Page*/
  .Rq-Box {
    width: 80%;
  }
}